@import '../../../styles/settings.scss';

.root {
  min-height: 15vh;

  .toolbar {
    margin: auto;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: $text;
      text-decoration: none;
      border: 1px solid $text;
      border-radius: 5px;
      padding: $base-size;
      margin: $base-size;

      .icon {
        margin: 0 $base-size;
      }

      &:hover {
        color: $white;
        border: 1px solid $white;
        transition: $transition;
      }
    }
  }
}
