@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  background: $grey;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    padding: $base-size * 3;
  }
}
