@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  background: $grey;

  .content {
    min-height: 60vh;
    padding: ($base-size * 2) ($base-size * 3);
    position: relative;
  }
}
