@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $main;
  color: $text;
  padding: $base-size * 3;
  text-align: center;
  min-height: 25vh;

  .icon {
    color: $text;
    font-size: $base-size * 4;
    margin: $base-size ($base-size * 4);

    &:hover {
      color: $white;
      transform: rotate(360deg) scale(2.5);
      transition: $transition;
    }
  }

  .copyright {
    font-size: $base-size * 1.5;
    margin-top: $base-size * 3;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .icon {
      margin: $base-size ($base-size * 2);
    }
  }

  @media (max-width: 575px) {
    .icon {
      margin: $base-size;
    }
  }
}
